engine-strict = true
git-checks = false
link-workspace-packages = deep
loglevel = error
publish-branch = main
shared-workspace-lockfile = true
use-beta-cli = true
workpace-concurrency = 0
strict-peer-dependencies=false